/* font link */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');
/* font link */
/* common css start */
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration:none;
}
ul{
    list-style-type: none;
}
.container{
    width: 1170px;
    margin: 0 auto;
   
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.text-center{
    text-align: center;
}
.sec_ttl h2{
    color:#02918c;
    font-size: 46px;
    font-weight: 800;
    text-transform: uppercase;
}
.sec_ttl p{
    color:#7e8287;
    font-size: 16px;
    line-height: 41px;
    margin:auto;
}
.sec_ttl span{
    font-weight: 800;
    font-size: 23px;
}
/* common css end */
/* nav section Start  */
nav{
    background:#02918c;
}
nav > .container > .row{
    align-items: center;
}
nav .logo{
    width: 25%;
}
nav .logo img{
    display: block;
}
nav .menu{
    width: 75%;
    text-align: right;
}
nav .menu ul li{
    display: inline-block;
    margin: 12px 0;
}
nav .menu ul li a{
    display: inline-block;
    font-size: 12px;
    font-weight: 800;
    color:#fff;
    padding: 10px 25px;
    text-transform: uppercase;
    transition: all .3s linear;
    border-radius: 25px;
}
nav .menu ul li:hover a{
    background:#cfc91d;
}
/* nav section End  */
/* banner section start */
#banner{
    height: 728px;
    background: url(../image/banner-Image.jpg);
    background-size: cover;
    position: relative;
    z-index: 1;
}
#banner::after{
    content: '';
    position: absolute;
    background: rgba(0,0,0,0.66);
    width: 100%;
    height:100%;
    top: 0;
    right:0;
    z-index: -1;
}
#banner .container,
#banner .container .row{
    height: 100%;
}
#banner .container > .row{
    align-items: center;
}
#banner .banner_content{
    width: 100%;
    color:#fff;
}
#banner .banner_content h6{
    font-size: 30px;
    font-weight: 800;
}
#banner .banner_content h1{
    font-size: 68px;
    font-weight: 800;
    letter-spacing: 30px;
    text-transform: uppercase;
}
#banner .banner_content p{
    font-size: 18px;
}
#banner .banner_content a{
    color: #000;
    display: inline-block;
    font-size: 14px;
    font-weight:800;
    text-transform: uppercase;
    padding: 10px 52px;
    background: #cfc91d;
}
#banner .banner_content img{
    display: block;
    margin:0 auto;
    padding: 20px 0;
}
/* banner section end  */
/* About section start */
.sec_ttl p{
    width: 874px;
}
/* About section End 1h 4 min*/